body {
    background-color: khaki;
}
.container {
    display: flex;
    justify-content: space-between;
    
}
.box {
    height: 100px;
    width: 30%;
    background-color: khaki;
    border:1px solid black;
    
}

.container2 {
    display: flex;
    margin: 50px auto;
    height: 50px;
    justify-content: space-between;

}
.foto {
     border: 1px solid black;
     width: 18%;
    height: 150px;
}
img {
    width: 100%;
    height: 100%;
}